@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel



@foreach (var x in Model.Books)
{
    //css class that i made on bootstrap.css
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">

        <h4 class="card-title">Title: @x.Title</h4>
        <p class="card-subtitle mb-2 text-muted">Author: @x.Author</p>
        <p>Publisher: @x.Publisher</p>
        <p>ISBN: @x.ISBN</p>
        <p>Classification/Category: @x.Category</p>

        <span class="badge badge-pill badge-primary" style="float:right">
            <p>Price: @x.Price</p>
        </span>

        <p>Pages: @x.Pages</p>
    </div>
</div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-warning" page-url-category="@Model.Category"
     class="btn-group pull-right m-1">

</div>